/* Super Simple Responsive Grid by ShaneRounce.com */

/* mobile, default styling & sucky old browser display */

	.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
		width: auto;
		display: block;
	}
	
	.clearfix {
	   zoom: 1;
	 }
	 .clearfix:before,.clearfix:after { content: ""; display: table; }
	 .clearfix:after { clear: both; }

/* add the grid to everything that's bigger than a mobile dispay */

@media only screen and (min-width: 481px) {

	.onecol {
		width: 5.801104972%;
	}
	
	.twocol {
		width: 14.364640883%;
	}
	
	.threecol {
		width: 22.928176794%;
	}
	
	.fourcol {
		width: 31.491712705%;
	}
	
	.fivecol {
		width: 40.055248616%;
	}
	
	.sixcol {
		width: 48.618784527%;
	}
	
	.sevencol {
		width: 57.182320438000005%;
	}
	
	.eightcol {
		width: 65.74585634900001%;
	}
	
	.ninecol {
		width: 74.30939226%;
	}
	
	.tencol {
		width: 82.87292817100001%;
	}
	
	.elevencol {
		width: 91.436464082%;
	}
	
	.twelvecol {
		width: 99.999999993%;
	}
	
	.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
		position: relative;
		float: left;
		margin-left: 2.762430939%;
	}
	
	.first {
		margin-left: 0;
	}
	
	.last {
		float: right;
	}
	
	.centercol {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

}